@import "../src/normalize";
@import "../src/variables.scss";
@import "../sass/components/contacts";


body {
  padding: 1.25vw;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: $body-bg;
}
