.checkbox {
  &__label {
    @include _768 {
      margin-left: 3.3vw;
      font-size: 3.833vw;
      line-height: 8.99vw;
      letter-spacing: 0.058vw;
    }
    @include _1152 {
      margin-left: 1.5vw;
      font-size: 1.833vw;
      line-height: 11.99vw;
    }
    @include _1440 {
      margin-left: 0.7vw;
      font-size: 1.3vw;
      line-height: 2.3vw;
    }
    margin-left: 0.5vw;
    font-size: 0.833vw;
    line-height: 0.99vw;

    letter-spacing: 0.008vw;
    color: #000000;
    opacity: 0.3;
  }
}
.checkbox-google {
  @include _768 {
    margin-left: 7vw;
  }
  @include _1152 {
    margin-left: 8vw;
  }
  display: inline-block;
  height: 1.458vw;
  line-height: 1.458vw;
  margin-left: 4vw;
  margin-bottom: 1.458vw;
  position: relative;
  vertical-align: middle;
  font-size: 0.729vw;
  user-select: none;
}
.checkbox-position {
  @include _768 {
    margin-top: 8vw;
  }
}
.checkbox-google .checkbox-google-switch {
  @include _768 {
    width: 10.475vw;
    height: 6.729vw;
    border-radius: 5.042vw;
    top: 1.313vw;
  }
  @include __435-768 {
    width: 13.475vw;
    height: 7.729vw;
  }
  @include _1152 {
    width: 7.875vw;
    height: 4.729vw;
    border-radius: 3.042vw;
    top: 3.313vw;
  }
  @include _1440 {
    width: 3vw;
    height: 1.729vw;
  }
  display: inline-block;
  width: 1.875vw;
  height: 0.729vw;
  border-radius: 1.042vw;
  position: relative;
  top: 0.313vw;
  vertical-align: top;
  background: #dbdbdb;
  transition: 0.2s;
}

.checkbox-google .checkbox-google-switch:before {
  content: "";
  @include _768 {
    width: 7.042vw;
    height: 7.042vw;
    position: absolute;
    top: 0vw;
    left: -1vw;
    background: #fff;
    border-radius: 50%;
    border: 0.5vw solid #e6e6e6;
  }
  @include __435-768 {
    width: 9.042vw;
    height: 9.042vw;
    top: -1vw;
    left: 0.5vw;
  }
  @include _1152 {
    width: 5.042vw;
    height: 5.042vw;
    left: 0.2vw;
  }
  @include _1440 {
    width: 2.042vw;
    height: 2.042vw;
    left: 0vw;
  }
  display: inline-block;
  width: 1.042vw;
  height: 1.042vw;
  position: absolute;
  top: -0.156vw;
  left: -0.052vw;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0.156vw 0.052vw -0.104vw rgba(0, 0, 0, 0.2),
    0 0.104vw 0.104vw 0 rgba(0, 0, 0, 0.14),
    0 0.052vw 0.26vw 0 rgba(0, 0, 0, 0.12);
  transition: 0.15s;
}
.checkbox-google input[type="checkbox"] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox-google input[type="checkbox"]:checked + .checkbox-google-switch {
  background: #b5b4b4;
}
.checkbox-google
  input[type="checkbox"]:checked
  + .checkbox-google-switch:before {
  background: #fff;
  transform: translateX(18px);
}

/* Hover */
.checkbox-google
  input[type="checkbox"]:not(:disabled)
  + .checkbox-google-switch {
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.3);
}

/* Active/Focus */
.checkbox-google
  input[type="checkbox"]:not(:disabled):active
  + .checkbox-google-switch:before,
.checkbox-google
  input[type="checkbox"]:not(:disabled):focus
  + .checkbox-google-switch:before {
  animation: checkbox-active-on 0.5s forwards linear;
}
@keyframes checkbox-active-on {
  0% {
    box-shadow: 0 0 0 0 rgba(212, 212, 212, 0);
  }
  99% {
    box-shadow: 0 0 0 0.521vw rgba(212, 212, 212, 0.5);
  }
}

.checkbox-google
  input[type="checkbox"]:not(:disabled):checked:active
  + .checkbox-google-switch:before,
.checkbox-google
  input[type="checkbox"]:not(:disabled):checked:focus
  + .checkbox-google-switch:before {
  animation: checkbox-active-off 0.5s forwards linear;
}
@keyframes checkbox-active-off {
  0% {
    box-shadow: 0 0 0 0 rgba(154, 190, 247, 0);
  }
  99% {
    box-shadow: 0 0 0 0.521vw rgba(34, 34, 34, 0.5);
  }
}
