.contacts {
  &__title {
    padding: 0 0 1.25vw;

    font-weight: 700;
    font-size: 1.146vw;
    line-height: 1.354vw;

    letter-spacing: 0.052vw;
    text-align: center;

    border-bottom: 0.156vw solid $line-color;
    color: $main-title-color;
  }
  &__container {
    margin: 0 auto;
    padding: 2.135vw 0 3.125vw;
    width: 72.656vw;
    height: 300px;
    background-color: $section-bg;
  }
  &__inputs-wrap {
    position: relative;
    display: flex;
    margin: 0 auto 0.625vw;
    width: 65.156vw;
  }
}
.select {
  padding: 0.365vw 0.729vw 0.365vw 0.831vw;
  width: 21.875vw;

  font-style: italic;
  font-weight: 400;
  font-size: 0.625vw;
  line-height: 0.729vw;

  border: 0.037vw solid $inputs-border;
  border-radius: 3.75vw 0 0 3.75vw;
  color: $italic-text-color;
  appearance: none;
  background-image: url(../../src/assets/icons/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: 20.3vw;
  opacity: 0.8;
  cursor: pointer;
  &:hover,
  &:focus {
    font-style: normal;
    outline: none;
    border: 0.037vw solid $black;
  }
}
.search {
  padding: 0.365vw 0.19vw 0.365vw 0.432vw;
  width: 43.272vw;

  font-style: italic;
  font-weight: 400;
  font-size: 0.625vw;
  line-height: 0.729vw;

  background-image: url(../../src/assets/icons/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 41.6vw;
  border: 0.037vw solid $inputs-border;
  border-radius: 0 3.75vw 3.75vw 0;
  border-left: none;
  color: $italic-text-color;
  cursor: pointer;
  opacity: 0.8;
  &:hover,
  &:focus {
    font-style: normal;
    outline: none;
    border: 0.037vw solid $black;
    border-left: none;
  }
}
