.contacts {
  &__title {
    @include _768 {
      padding-bottom: 3.25vw;
      font-size: 5.146vw;
      line-height: 5.354vw;
      letter-spacing: 1.052vw;
    }
    @include _1152 {
      padding: 0 0 2.25vw;
      font-weight: 700;
      font-size: 3.146vw;
      line-height: 3.354vw;
    }
    @include _1440 {
      padding: 0 0 1.5vw;
      font-size: 1.846vw;
      line-height: 2.354vw;
    }
    padding: 0 0 1.25vw;

    font-weight: 700;
    font-size: 1.146vw;
    line-height: 1.354vw;

    letter-spacing: 0.052vw;
    text-align: center;

    border-bottom: 0.156vw solid $line-color;
    color: $main-title-color;
  }
  &__container {
    @include _768 {
      width: 100%;
      padding-top: 5.135vw;
      padding-bottom: 8.125vw;
    }
    @include _1152 {
      width: 88.656vw;
    }
    @include _1440 {
     padding-bottom: 5.125vw;
    }
    margin: 0 auto;
    padding: 2.135vw 0 3.125vw;
    width: 72.656vw;
    // height: 300px;
    background-color: $section-bg;
  }
  &__inputs-wrap {
    @include _768 {
      display: block;
      width: 79.156vw;
    }
    @include _1152 {
      display: block;
      width: 79.156vw;
    }
    @include _1440 {
      margin: 0 auto 2.625vw;
    }
    position: relative;
    display: flex;
    margin: 0 auto 0.625vw;
    width: 65.156vw;
  }
  &__list {
    @include _768 {
      padding-top: 15vw !important;
      margin-bottom: 15.292vw !important;
      justify-content: center;
      grid-template-columns: repeat(1, 77.865vw);
      row-gap: 7.563vw;
    }
    @include _1152 {
      margin-top: 12vw !important;
      margin-left: 5vw !important;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(2, 38.865vw);
      column-gap: 6vw;
      row-gap: 6vw;
    }
    @include _1440 {
      margin-top: 3vw !important;
      display: grid;
      margin-bottom: 4.292vw !important;
      justify-content: center;
      grid-template-columns: repeat(2, 27.865vw);
      column-gap: 4.125vw;
      row-gap: 4.563vw;
    }
    display: grid;
    margin-bottom: 2.292vw !important;
    justify-content: center;
    grid-template-columns: repeat(3, 17.865vw);
    column-gap: 3.125vw;
    row-gap: 1.563vw;
  }
  &__contact {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    &-photo {
      @include _768 {
        margin-right: 3.458vw;
      }
      margin-right: 1.458vw;
    }
    &-name {
      @include _768 {
        font-size: 4.6vw;
      }
      @include _1152 {
        font-size: 2vw;
        margin-bottom: 1vw;
      }
      @include _1440 {
        font-size: 1.433vw;
      }
      font-size: 0.833vw;
      line-height: 150%;

      letter-spacing: 0.008vw;

      color: $contacts-name;
    }
    &-company,
    &-position,
    &-department,
    &-tel,
    &-email {
      @include _768 {
        margin-bottom: 1.26vw;
        font-size: 3.625vw;
        line-height: 4.729vw;
      }
      @include _1152 {
        margin-bottom: 1.5vw;
        font-size: 1.7vw;
      }
      @include _1440 {
        margin-bottom: 0.26vw;
        font-size: 1.2vw;
        line-height: 1.429vw;
      }
      margin-bottom: 0.26vw;
      font-size: 0.625vw;
      line-height: 0.729vw;
      color: $primary-text-color;
    }
    &-tel,
    &-email {
      @include _1152 {
        margin-bottom: 1.6vw;
      }

      margin-bottom: 0;
      color: $contacts-color;
    }
  }
}



