.contacts {
  &__title {
    padding: 0 0 1.25vw;

    font-weight: 700;
    font-size: 1.146vw;
    line-height: 1.354vw;

    letter-spacing: 0.052vw;
    text-align: center;

    border-bottom: 0.156vw solid $line-color;
    color: $main-title-color;
  }
  &__container {
    margin: 0 auto;
    padding: 2.135vw 0 3.125vw;
    width: 72.656vw;
    // height: 300px;
    background-color: $section-bg;
  }
  &__inputs-wrap {
    position: relative;
    display: flex;
    margin: 0 auto 0.625vw;
    width: 65.156vw;
  }
  &__list {
    display: grid;
    margin-bottom: 2.292vw !important;
    justify-content: center;
    grid-template-columns: repeat(3, 17.865vw);
    column-gap: 3.125vw;
    row-gap: 1.563vw;
  }
  &__contact {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    &-photo {
      margin-right: 1.458vw;
    }
    &-info {
    }
    &-name {
      font-size: 0.833vw;
      line-height: 150%;

      letter-spacing: 0.008vw;

      color: $contacts-name;
    }
    &-company,
    &-position,
    &-department,
    &-tel,
    &-email {
      margin-bottom: 0.26vw;
      font-size: 0.625vw;
      line-height: 0.729vw;
      color: $primary-text-color;
    }
    &-tel,
    &-email {
      margin-bottom: 0;
      color: $contacts-color;
    }
  }
}
.select {
  padding: 0.365vw 0.729vw 0.365vw 0.831vw;
  width: 21.875vw;

  font-style: italic;
  font-weight: 400;
  font-size: 0.625vw;
  line-height: 0.729vw;

  border: 0.037vw solid $inputs-border;
  border-radius: 3.75vw 0 0 3.75vw;
  color: $italic-text-color;
  appearance: none;
  background-image: url(../../src/assets/icons/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: 20.3vw;
  opacity: 0.8;
  cursor: pointer;
  &:hover,
  &:focus {
    font-style: normal;
    outline: none;
    border: 0.037vw solid $black;
  }
}
.search {
  padding: 0.365vw 0.19vw 0.365vw 0.432vw;
  width: 43.272vw;

  font-style: italic;
  font-weight: 400;
  font-size: 0.625vw;
  line-height: 0.729vw;

  background-image: url(../../src/assets/icons/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 41.6vw;
  border: 0.037vw solid $inputs-border;
  border-radius: 0 3.75vw 3.75vw 0;
  border-left: none;
  color: $italic-text-color;
  cursor: pointer;
  opacity: 0.8;
  &:hover,
  &:focus {
    font-style: normal;
    outline: none;
    border: 0.037vw solid $black;
    border-left: none;
  }
}
.checkbox {
  &__label {
    margin-left: 0.5vw;
    font-style: normal;
    font-weight: normal;
    font-size: 0.833vw;
    line-height: 0.99vw;

    letter-spacing: 0.008vw;
    color: #000000;
    opacity: 0.3;
  }
}
.checkbox-google {
  display: inline-block;
  height: 1.458vw;
  line-height: 1.458vw;
  margin-left: 4vw;
  margin-bottom: 1.458vw;
  position: relative;
  vertical-align: middle;
  font-size: 0.729vw;
  user-select: none;
}

.checkbox-google .checkbox-google-switch {
  display: inline-block;
  width: 1.875vw;
  height: 0.729vw;
  border-radius: 1.042vw;
  position: relative;
  top: 0.313vw;
  vertical-align: top;
  background: #dbdbdb;
  transition: 0.2s;
}

.checkbox-google .checkbox-google-switch:before {
  content: "";
  display: inline-block;
  width: 1.042vw;
  height: 1.042vw;
  position: absolute;
  top: -0.156vw;
  left: -0.052vw;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0.156vw 0.052vw -0.104vw rgba(0, 0, 0, 0.2),
    0 0.104vw 0.104vw 0 rgba(0, 0, 0, 0.14),
    0 0.052vw 0.26vw 0 rgba(0, 0, 0, 0.12);
  transition: 0.15s;
}
.checkbox-google input[type="checkbox"] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox-google input[type="checkbox"]:checked + .checkbox-google-switch {
  background: #b5b4b4;
}
.checkbox-google
  input[type="checkbox"]:checked
  + .checkbox-google-switch:before {
  background: #fff;
  transform: translateX(18px);
}

/* Hover */
.checkbox-google
  input[type="checkbox"]:not(:disabled)
  + .checkbox-google-switch {
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.3);
}

/* Active/Focus */
.checkbox-google
  input[type="checkbox"]:not(:disabled):active
  + .checkbox-google-switch:before,
.checkbox-google
  input[type="checkbox"]:not(:disabled):focus
  + .checkbox-google-switch:before {
  animation: checkbox-active-on 0.5s forwards linear;
}
@keyframes checkbox-active-on {
  0% {
    box-shadow: 0 0 0 0 rgba(212, 212, 212, 0);
  }
  99% {
    box-shadow: 0 0 0 0.521vw rgba(212, 212, 212, 0.5);
  }
}

.checkbox-google
  input[type="checkbox"]:not(:disabled):checked:active
  + .checkbox-google-switch:before,
.checkbox-google
  input[type="checkbox"]:not(:disabled):checked:focus
  + .checkbox-google-switch:before {
  animation: checkbox-active-off 0.5s forwards linear;
}
@keyframes checkbox-active-off {
  0% {
    box-shadow: 0 0 0 0 rgba(154, 190, 247, 0);
  }
  99% {
    box-shadow: 0 0 0 0.521vw rgba(34, 34, 34, 0.5);
  }
}
.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0 auto !important;
  width: 9.962vw;
  &__item {
    position: relative;
    width: 1.302vw;
    height: 1.302vw;
    border-radius: 50%;
    border: 0.067vw solid $inputs-border;
    cursor: pointer;
    transition: 0.8s;
    &:hover,
    &:focus {
      position: relative;
      width: 1.302vw;
      height: 1.302vw;
      border-radius: 50%;
      border: 0.067vw solid $active-pagination-item;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        font-size: 0.729vw;
        line-height: 0.833vw;
        color: $active-pagination-item;
      }
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 700;
      font-size: 0.729vw;
      line-height: 0.833vw;
      color: $inputs-border;
    }
  }
  &__icon {
    background-image: url(../../src/assets/icons/paginations-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    &:hover {
      background-image: url(../../src/assets/icons/paginations-active-arrow.svg);
    }
  }
}
