.contacts {
  &__title {
    padding: 0 0 1.25vw;

    font-weight: 700;
    font-size: 1.146vw;
    line-height: 1.354vw;

    letter-spacing: 0.052vw;
    text-align: center;

    border-bottom: 0.156vw solid $line-color;
    color: $main-title-color;
  }
  &__container {
    margin: 0 auto;
    padding: 2.135vw 0 3.125vw;
    width: 72.656vw;
    height: 300px;
    background-color: $section-bg;
  }
  &__inputs-wrap {
    position: relative;
    display: flex;
    margin: 0 auto 0.625vw;
    width: 65.156vw;
  }
}
.select {
  padding: 0.365vw 0.729vw 0.365vw 0.831vw;
  width: 21.875vw;

  font-style: italic;
  font-weight: 400;
  font-size: 0.625vw;
  line-height: 0.729vw;

  border: 0.037vw solid $inputs-border;
  border-radius: 3.75vw 0 0 3.75vw;
  color: $italic-text-color;
  appearance: none;
  background-image: url(../../src/assets/icons/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: 20.3vw;
  opacity: 0.8;
  cursor: pointer;
  &:hover,
  &:focus {
    font-style: normal;
    outline: none;
    border: 0.037vw solid $black;
  }
}
.search {
  padding: 0.365vw 0.19vw 0.365vw 0.432vw;
  width: 43.272vw;

  font-style: italic;
  font-weight: 400;
  font-size: 0.625vw;
  line-height: 0.729vw;

  background-image: url(../../src/assets/icons/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 41.6vw;
  border: 0.037vw solid $inputs-border;
  border-radius: 0 3.75vw 3.75vw 0;
  border-left: none;
  color: $italic-text-color;
  cursor: pointer;
  opacity: 0.8;
  &:hover,
  &:focus {
    font-style: normal;
    outline: none;
    border: 0.037vw solid $black;
    border-left: none;
  }
}
.checkbox {
  &__label {
    font-style: normal;
    font-weight: normal;
    font-size: 0.833vw;
    line-height: 0.99vw;

    letter-spacing: 0.008vw;
    color: #000000;
    opacity: 0.3;
  }
}
.checkbox-google {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin-left: 4vw;
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  user-select: none;
  .checkbox-google-switch {
    display: inline-block;
    width: 36px;
    height: 14px;
    border-radius: 20px;
    position: relative;
    top: 6px;
    vertical-align: top;
    background: #dbdbdb;
    transition: 0.2s;
  }
}

.checkbox-google .checkbox-google-switch:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -3px;
  left: -1px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: 0.15s;
}
.checkbox-google input[type="checkbox"] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox-google input[type="checkbox"]:checked + .checkbox-google-switch {
  background: #b5b4b4;
}
.checkbox-google
  input[type="checkbox"]:checked
  + .checkbox-google-switch:before {
  background: #fff;
  transform: translateX(18px);
}

/* Hover */
.checkbox-google
  input[type="checkbox"]:not(:disabled)
  + .checkbox-google-switch {
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.3);
}

/* Active/Focus */
.checkbox-google
  input[type="checkbox"]:not(:disabled):active
  + .checkbox-google-switch:before,
.checkbox-google
  input[type="checkbox"]:not(:disabled):focus
  + .checkbox-google-switch:before {
  animation: checkbox-active-on 0.5s forwards linear;
}
@keyframes checkbox-active-on {
  0% {
    box-shadow: 0 0 0 0 rgba(212, 212, 212, 0);
  }
  99% {
    box-shadow: 0 0 0 10px rgba(212, 212, 212, 0.5);
  }
}

.checkbox-google
  input[type="checkbox"]:not(:disabled):checked:active
  + .checkbox-google-switch:before,
.checkbox-google
  input[type="checkbox"]:not(:disabled):checked:focus
  + .checkbox-google-switch:before {
  animation: checkbox-active-off 0.5s forwards linear;
}
@keyframes checkbox-active-off {
  0% {
    box-shadow: 0 0 0 0 rgba(154, 190, 247, 0);
  }
  99% {
    box-shadow: 0 0 0 10px rgba(34, 34, 34, 0.5);
  }
}
