.select {
  @include _768 {
    margin-bottom: 3vw;
    padding: 1.365vw 2.729vw 1.365vw 4.831vw;
    width: 100%;
    height: 11vw;
    background-position: 71.3vw;
    background-size: 4vw;
    border-radius: 4.75vw;
    line-height: normal;
    font-size: 4.625vw;
  }
  @include _1152 {
    margin-bottom: 3vw;
    padding: 1.365vw 2.729vw 1.365vw 4.831vw;
    width: 100%;
    height: 8vw;
    background-position: 72.3vw;
    background-size: 3vw;
    border-radius: 4.75vw;
    line-height: normal;
    font-size: 4.625vw;
  }
  @include _1440 {
    padding: 0.365vw 0.729vw 0.365vw 1.831vw;
    height: 4vw;
    font-size: 1.325vw;
    line-height: normal;
    background-position: 19.3vw;
  }
  padding: 0.365vw 0.729vw 0.365vw 0.831vw;
  width: 21.875vw;

  font-style: italic;
  font-weight: 400;
  font-size: 0.625vw;
  line-height: 0.729vw;

  border: 0.037vw solid $inputs-border;
  border-radius: 3.75vw 0 0 3.75vw;
  color: $italic-text-color;
  appearance: none;
  background-image: url(../../src/assets/icons/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: 20.3vw;
  opacity: 0.8;
  cursor: pointer;
  &:hover,
  &:focus {
    font-style: normal;
    outline: none;
    border: 0.037vw solid $black;
  }
}
.search {
  @include _768 {
    padding: 2.365vw 3.19vw 2.365vw 4.432vw;
    width: 100%;
    height: 11vw;
    border-radius: 4.75vw;
    border: 0.037vw solid #6e767d;
    line-height: 0;
    font-size: 3vw;

    background-position: 69.6vw;
    background-size: 5vw;
  }
  @include _1152 {
    padding: 2.365vw 3.19vw 2.365vw 4.432vw;
    width: 100%;
    height: 8vw;
    background-position: 72.6vw;
    background-size: 4vw;
    border-radius: 4.75vw;
    border: 0.037vw solid #6e767d;
    line-height: 0;
    font-size: 3vw;
  }
  @include _1440 {
    font-size: 1.325vw;
    padding: 0.365vw 2.19vw 0.365vw 2.432vw;
    background-position: 39.6vw;
  }
  padding: 0.365vw 0.19vw 0.365vw 0.432vw;
  width: 43.272vw;

  font-style: italic;
  font-weight: 400;
  font-size: 0.625vw;
  line-height: 0.729vw;

  background-image: url(../../src/assets/icons/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 41.6vw;
  border: 0.037vw solid $inputs-border;
  border-radius: 0 3.75vw 3.75vw 0;
  border-left: none;
  color: $italic-text-color;
  cursor: pointer;
  opacity: 0.8;
  &:hover,
  &:focus {
    font-style: normal;
    outline: none;
    border: 0.037vw solid $black;
    border-left: none;
  }
}