@mixin _1920 {
  @media (max-width: 1919px) {
    @content;
  }
}
@mixin _1152 {
  @media (max-width: 1151px) {
    @content;
  }
}
@mixin _768 {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin __435-768 {
  @media screen and (min-width: 435px) and (max-width: 767px) {
    @content;
  }
}
