@mixin _1440 {
  @media screen and (min-width: 1152px) and (max-width: 1440px) {
    @content;
  }
}

@mixin _1152 {
  @media screen and (min-width: 768px) and (max-width: 1151px) {
    @content;
  }
}
@mixin _768 {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    @content;
  }
}
@mixin __435-768 {
  @media screen and (min-width: 435px) and (max-width: 767px) {
    @content;
  }
}
