$body-bg: #f7f7f7;
$section-bg: #fff;
$main-title-color: #282b2e;
$black: #000;
$contacts-color: #212121;
$italic-text-color: #333333;
$primary-text-color: #a6aaad;
$active-pagination-item: #ed1c24;

$transition: 0.3s;
